@use 'sass:color';

// Colors
$primary: #5cc2d6;
$primary-light: #eff9fb;
$secondary: #d9e54d;
$gray: #73878c;
$white: #fff;
$black: #000;
$default: lighten($gray, 45%);
$dark: #000;

.test {
  color: $primary;
}

@mixin mxButton {
  background-color: $primary;
  color: $white;
}
